* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
.lg {
    width: 1920px;
}

.md {
    width: 768px;
}

.sm {
    width: 390px;
}

.black {
    color: black;
}

.white {
    color: #FFF;
}

.txt60 {
    font-size: 60px;
}

.txt48 {
    font-size: 48px;
}

.txt36 {
    font-size: 36px;
}

.txt18 {
    font-size: 18px;
}

.txt24 {
    font-size: 24px;
}

.txt12 {
    font-size: 12px;
}

.z10 {
    z-index: 10;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}


/* --------------------------------------------------------- */
body{
    background-color: #F5F5F7;
}
#first {
    width: 100%;
    position: sticky;
    background-color: #F5F5F7CC;
    top: 0;
    height: 48px;
    display: flex;
    align-items: center;
}

#NavMD {
    width: 100%;
    position: sticky;
    background-color: #F5F5F7CC;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 16px;
    display: none;
}

.menu {
    display: flex;
    gap: 32px;
}

.full {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 39px;
    max-width: 1150px;
    margin: 0px auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
}

.UNav {
    text-align: center;
    height: 52px;
    padding-top: 19px;
    padding-bottom: 19px;
    position: relative;
    background:#FFFFFF;
}

.z10 {
    z-index: 10;
}

.gradient {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 25px;
    margin-bottom: 50px;
}

.gradient :nth-child(1) {
    width: 60vw;
    height: 35px;
    top: -40px;
    left: 0;
    background: #4186fd;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

.gradient :nth-child(2) {
    width: 30vw;
    height: 35px;
    background: #e9a5ff;
    top: -40px;
    left: -55px;
    right: 0;
    margin: 0 auto;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
}

.gradient :nth-child(3) {
    width: 40vw;
    height: 35px;
    background: #ff3f98;
    top: -40px;
    left: 0;
    right: -20vw;
    margin: 0 auto;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
}

.gradient :nth-child(4) {
    width: 40vw;
    height: 35px;
    background: #fd8c1f;
    top: -40px;
    border-radius: 50%;
    right: 0vw;
    filter: blur(20px);
    position: absolute;
}

.LinearText {
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
section{
    margin: 50px 140px;
}
#sec1 div:nth-child(2) :nth-child(2) div:first-of-type{
    width: 35px;
    height: 35px;
}
#sec1 div:nth-child(2) :nth-child(2) a{
   color: #0066CC;
   text-decoration: underline;
}
#sec1 div:nth-child(1) h1{
    font-size: 44px;
}
#sec1 div:nth-child(1) h1:last-of-type{
    color: #6E6E73;
}
.itemCard {
    width: 136px;
    height: 148px;
}
.itemCard img{
    width: 120px;
    height: 78px;
}
section:nth-child(5) div h2:last-of-type{
    color: #6E6E73;
    display: inline-block;
}
.swiperSec h2{
    font-size: 25px;
}
